# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
.pytest_cache/
htmlcov/
.ipynb_checkpoints/
.mypy_cache/
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb_checkpoints/
*.ipynb_checkpoints/*
